<launch>
    <arg name="use_simulation" default="false"/>
    <arg name="load_description" default="true"/>
    <arg name="load_controller" default="true"/>

    <rosparam file="$(find rm_base)/config/actuator_coefficient.yaml" command="load" ns="rm_base"/>
    <rosparam file="$(find rm_fsm)/config/standard.yaml" command="load"/>
    <rosparam file="$(find rm_fsm)/test/config/test_power_limit.yaml" command="load"/>

    <rosparam unless="$(arg use_simulation)" file="$(find rm_base)/config/standard.yaml" command="load"/>

    <include if="$(arg load_description)" file="$(find rm_description)/launch/standard.launch">
        <arg name="load_chassis" value="true"/>
        <arg name="load_gimbal" value="true"/>
        <arg name="load_shooter" value="true"/>
        <arg name="use_simulation" value="$(arg use_simulation)"/>
        <arg name="use_rm_gazebo" value="true"/>
        <arg if="$(arg use_simulation)" name="roller_type" value="simple"/>
        <arg unless="$(arg use_simulation)" name="roller_type" value="none"/>
        <arg name="paused" value="false"/>
    </include>
    <include unless="$(arg use_simulation)" file="$(find rm_base)/launch/rm_base.launch"/>

    <node pkg="tf" type="static_transform_publisher" name=""
          args="0 0 0 0 0 0 1 map odom 500"/>

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner"
          respawn="false"
          output="screen" args="
        controllers/robot_state_controller
        controllers/joint_state_controller
        controllers/shooter_standard_controller
        controllers/gimbal_standard_controller
        controllers/chassis_standard_controller

   "/>

    <node name="dbus_node" pkg="rm_base" type="dbus_node" respawn="false"/>
    <node name="rm_fsm" pkg="rm_fsm" type="rm_fsm" respawn="false"/>
</launch>