<launch>
  <arg name="use_simulation" default="false"/>


  <!--  TODO: add rm_base, gimbal and shooter-->
  <!--  <include file="$(find rm_base)/launch/standard.launch"/>-->
  <include file="$(find rm_chassis_controllers)/launch/standard.launch">
    <arg name="use_simulation" default="false"/>
    <arg name="load_description" default="false"/>
    <arg name="load_controller" value="false"/>
    <arg name="odom_tf" default="true"/>
  </include>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="
        controllers/robot_state_controller
        controllers/joint_state_controller
        controllers/chassis_standard_controller
        controllers/shooter_standard_controller
        controllers/gimbal_standard_controller
   "/>

  <node name="dbus_node" pkg="rm_base" type="dbus_node" respawn="false"/>
</launch>